@charset "utf-8";
#navbar ul li.current ul li#currentL a:hover {
	background-color: #f5f5f5;
	box-shadow: none;
}
#navbar ul li.current ul li#currentL2 a:hover {
	background-color: #ebebeb;
	box-shadow: none;
}
#navbar ul li.current ul li#currentL a {
	filter: none;
	background: #FFF none;
}
#navbar ul li.current ul li#currentL2 a {
	filter: none;
	background: #f5f5f5 none;
}
#navbar {
	background: -webkit-linear-gradient(top, #e3e3e3, #d2d2d2);
	background: -o-linear-gradient(bottom, #e3e3e3, #d2d2d2);
	background: -moz-linear-gradient(bottom, #e3e3e3, #d2d2d2);
	background: linear-gradient(to bottom, #e3e3e3, #d2d2d2);
	height: 42px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 -5px 30px #000000;
}
#navbar ul {
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
}
#navbar ul li {
	float: left;
	position: relative;
}
#navbar ul li a {
	height: 42px;
	width: 100px;
	display: block;
	text-decoration: none;
	line-height: 42px;
	text-align: center;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #d4d4d4;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	color: #a6a6a6;
	text-shadow: 0 1px 0 #ededed;
}
#navbar ul li a:hover {
	background: -webkit-linear-gradient(top, #d2d2d2, #e3e3e3);
	background: -o-linear-gradient(bottom, #d2d2d2, #e3e3e3);
	background: -moz-linear-gradient(bottom, #d2d2d2, #e3e3e3);
	background: linear-gradient(to bottom, #d2d2d2, #e3e3e3);
	box-shadow: 0 0 10px #b0b0b0 inset;
}
#navbar ul ul {
}
#navbar ul li ul {
	position: absolute;
	background-color: #FFF;
	top: 42px;
	visibility: hidden;
}
#navbar ul li:hover ul li {
	visibility: visible;
}
#navbar ul li ul li a {
	background-color: #FFF;
	border: solid #2D3B70;
	border-top: 1px #e2ffff;
	border-right-style: none;
	border-bottom: 1px #c5ffff;
	border-left-style: none;
	text-shadow: none;
	color: #b1b1b1;
}
#navbar ul li ul li a:hover {
	background: #f5f5f5 none;
	box-shadow: none;
}
#navbar ul li#im a {
	border-right: none transparent;
	border-left: none transparent;
	margin-left: 10px;
	width: 150px;
}
#navbar ul li#im a:hover {
	background-image: none;
	box-shadow: none;
}
#navbar ul li#first a {
	margin-left: 20px;
}
#navbar ul li.current a {
	background: -webkit-linear-gradient(top, #d9d9d9, #c8c8c8);
	background: -o-linear-gradient(bottom, #d9d9d9, #c8c8c8);
	background: -moz-linear-gradient(bottom, #d9d9d9, #c8c8c8);
	background: linear-gradient(to bottom, #d9d9d9, #c8c8c8);
}


#imagebig {
	width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0;
    top: 0;
    z-index: -10;
}
.stretch {
    width:100%;
}
#bodytitle {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-shadow: 1px 1px 0 #9c9c9c;
	color: #555555;
	font-size: 45px;
	margin-left: 3%;
	margin-right: 30px;
	margin-top: 15px;
}

#item {
	position: inherit;
	margin-top: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	width:94%;
	margin-left:3%;
	margin-right:3%;
	border-collapse:collapse;
}
#button{
	margin-left:3%;
	margin-right:3%;
}

#item #title {
	font-weight:bold;
	letter-spacing: 1px;
	text-align: center;
	padding: 6px 6px 6px 12px;
	background: -webkit-linear-gradient(#D9D9D9, #BFBFBF); /* For Safari */
	background: -o-linear-gradient(#D9D9D9, #BFBFBF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#D9D9D9, #BFBFBF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#D9D9D9, #BFBFBF); /* Standard syntax */
}
#item tr td{
	border-bottom: 1px solid #B4B5B0;
	height:40px;
	text-align:center;
}

#item tr td:nth-child(1){
	text-align:left;
	padding-left:12px;
}
#item tr td:nth-child(2){
	text-align:left;
}
#item tr td:nth-child(3){
	text-align:left;
}
#item thead td:nth-child(3){
	text-align:center;
}
#item thead td:nth-child(2){
	text-align:center;
}
#item thead td:nth-child(1){
	text-align:center;
}
#item tr:nth-child(even) td{
	background-color:#E8E8E8;
	
}
