@charset "utf-8";
#navbar ul li.current ul li#currentL a:hover {
	background-color: #f5f5f5;
	box-shadow: none;
}
#navbar ul li.current ul li#currentL2 a:hover {
	background-color: #ebebeb;
	box-shadow: none;
}
#navbar ul li.current ul li#currentL a {
	background-image: none;
	filter: none;
	background-color: #FFF;
}
#navbar ul li.current ul li#currentL2 a {
	background-image: none;
	filter: none;
	background-color: #f5f5f5;
}
#navbar {
	background: -webkit-linear-gradient(top, #e3e3e3, #d2d2d2);
	background: -o-linear-gradient(bottom, #e3e3e3, #d2d2d2);
	background: -moz-linear-gradient(bottom, #e3e3e3, #d2d2d2);
	background: linear-gradient(to bottom, #e3e3e3, #d2d2d2);
	height: 42px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	box-shadow: 0px -5px 30px #000000;
}
#navbar ul {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#navbar ul li {
	float: left;
	position: relative;
}
#navbar ul li a {
	height: 42px;
	width: 100px;
	display: block;
	text-decoration: none;
	line-height: 42px;
	text-align: center;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #d4d4d4;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	color: #a6a6a6;
	text-shadow: 0px 1px 0px #ededed;
}
#navbar ul li a:hover {
	background: -webkit-linear-gradient(top, #d2d2d2, #e3e3e3);
	background: -o-linear-gradient(bottom, #d2d2d2, #e3e3e3);
	background: -moz-linear-gradient(bottom, #d2d2d2, #e3e3e3);
	background: linear-gradient(to bottom, #d2d2d2, #e3e3e3);
	box-shadow: 0px 0px 10px #b0b0b0 inset;
}
#navbar ul ul {
}
#navbar ul li ul {
	position: absolute;
	background-color: #FFF;
	top: 42px;
	visibility: hidden;
}
#navbar ul li:hover ul li {
	visibility: visible;
}
#navbar ul li ul li a {
	background-color: #FFF;
	border-top: 1px solid #e2ffff;
	border-bottom: 1px solid #c5ffff;
	border-right-style: none;
	border-left-style: none;
	border-right-color: #2D3B70;
	border-left-color: #2D3B70;
	text-shadow: none;
	color: #b1b1b1;
}
#navbar ul li ul li a:hover {
	background-color: #f5f5f5;
	background-image: none;
	box-shadow: none;
}
#navbar ul li#im a {
	border-right-style: none;
	border-left-style: none;
	border-right-color: none;
	border-left-color: none;
	margin-left: 10px;
	width: 150px;
}
#navbar ul li#im a:hover {
	background-image: none;
	box-shadow: none;
}
#navbar ul li#first a {
	margin-left: 20px;
}
#navbar ul li.current a {
	background: -webkit-linear-gradient(top, #d9d9d9, #c8c8c8);
	background: -o-linear-gradient(bottom, #d9d9d9, #c8c8c8);
	background: -moz-linear-gradient(bottom, #d9d9d9, #c8c8c8);
	background: linear-gradient(to bottom, #d9d9d9, #c8c8c8);
}



#title {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	text-shadow: 1px 1px 0px #9c9c9c;
	color: #555555;
	font-size: 45px;
	width:100%;
	text-align:center;
}
#faces {
	line-height:0;
	margin-left:2%;
	margin-right:2%;
	text-align:center;
}
.wrapper {
	display:inline-block;
}